[user]
    name = Nowell Strite
    email = nowell@strite.org

[push]
    default = current

[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    unstage = reset HEAD --
    visual = !gitk
    datetag = !__git-datetag

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true

[branch]
    autosetupmerge = always

[core]
    excludesfile = ~/.gitignore
    editor = emacs
    whitespace = fix

[merge]
    tool = p4

[mergetool]
    prompt = no
    trustExitCode = false

[mergetool "p4"]
    prompt = no
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[diff]
    tool = p4

[difftool]
    prompt = no
    trustExitCode = false

[difftool "p4"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$LOCAL" "$REMOTE"
