[user]
    name = Nowell Strite
    email = nowell@strite.org
    signingkey = 0x6B2F3382

[github]
    user = nowells
    token = 9eab94a0dd4d55b40830f85f789ea48d

[push]
    default = current

[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    lc = log --stat --no-merges
    logtree = log --pretty=oneline --graph --all
    notmerged = cherry -v
    lg = log -p
    who = shortlog -sne --no-merges
    unstage = reset HEAD --
    visual = !gitk
    datetag = !__git-datetag
    merge-candidate = merge --no-ff
    igrep = grep --full-name -IiE
    remote-branch = !__git-remote-branch
    wtf = !__git-wtf | less -FE
    branch-mirror = !__git-branch-mirror
    zip = !sh -c 'git archive --format zip $1 > "`basename $PWD | tr "[:upper:]" "[:lower:]"`-$1.zip"' -

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true

[branch]
    autosetupmerge = always

[core]
    excludesfile = ~/.gitignore
    editor = emacs
    whitespace = fix
    #autocrlf = true

[merge]
    tool = p4

[mergetool]
    prompt = no
    trustExitCode = false

[mergetool "p4"]
    prompt = no
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[diff]
    tool = p4

[difftool]
    prompt = no
    trustExitCode = false

[difftool "p4"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$LOCAL" "$REMOTE"
