# Prefix search!  Type "s" then press up -- only search through history that
# started with "s" -- e.g. "ssh", "source", etc.
#
# Since this is .inputrc, this is automatically turned on for many different
# programs: bash, irb, python, mysql, octave, etc etc.  sweet.

# Delete key forward deletes a character
"\e[3~": delete-char

# case-insensitive auto-completion
set completion-ignore-case on

# ctrl + left/right arrow jumps to the beginning/end of line
"\e[5C": end-of-line
"\e[5D": beginning-of-line

set blink-matching-paren on

"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-search-backward
"\eOB": history-search-forward

# show file types while completing
set visible-stats on

